@charset "UTF8";

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background-image: url(../imagens/preto-abstrato.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 99vh;
}

.container {
    position: relative;
    margin: auto;
    padding-top: 10vh;
    width: 34.5vh;
    left: -50px;
}

.iphone {
    height: 80vh;
    width: auto;
    position: absolute;
}

iframe {
    margin-top: 2vh;
    left: 2.1vh;
    position: absolute;
    height: 76vh;
    width: 35.3vh;
    border-radius: 25px;
}

.camera {
    position: absolute;
    margin-top: 2vh;
    left: 9.8vh;
    height: 3.2vh;

}

.icones {
    padding-right: 5px;
    display: flex;
    justify-content: end;
}


a > img {
    height: 7vw;
    width: 7vw;
    max-height: 50px;
    max-width: 50px;
    margin: 10px;
    border-radius: 50%;
    border: 1px solid transparent;
    box-shadow: 2px 2px 5px rgb(0, 0, 0);
}

a > img:hover {
    border: 1px solid white;
    margin: 5px;
    margin-bottom: 15px;
    transition: 0.5s;
    box-shadow: 7px 7px 10px rgb(0, 0, 0); 
}
