@charset "UTF8";

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background-image: url(../imagens/preto-abstrato.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.container {
    display: flex;
    justify-content: center;
    position: relative;
    margin: auto;
    padding-top: 5%;
}

.iphone {
    height: 80vh;
    width: auto;
    position: absolute;
}

iframe {
    padding-top: 10.1vh;
    position: absolute;
    height: 60.5vh;
    width: 34.5vh;
}

.icones {
    position: relative;
    display: flex;
    justify-content: end;
    height: 10vh;
    padding-right: 5px;
}

a > img {
    padding: 1vw;
    height: 4vh;
    width: 4vh;
    border-radius: 50%;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.588);
}

a > img:hover {
    border: 1px solid white;
        transition: 1s;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.834);
    
}